.navbar {
  border-radius: 10px;
}
.navbar-brand {
  font-weight: 900;
  font-size: 30px !important;
  color: red !important;
}
nav.navbar {
  background: #ffffff !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom: 5px solid red;
}

nav.nav-link {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.btn-search {
  background-color: red !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  border-color: red !important;
}
